/* Main */

.main__container {
   
}

/* Home */

.home__main-container {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25vh;
}

.home__links {
    margin-top: 25px;
    font-size: 28px;
    color: #251C45;
}

.home__links:hover {
    color: #F3AC3C;
}

.home__links:active {
    color: #F1F1F1;
}

.home__header-logo {
    width: 400px;
}

/* SignUp Form */
.signup__main-container {
    width: 100%;
}

.signup__main-messages {

}

.signup__main-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 25%;
}

.signup__main-label {

}

.signup__main-input {

}

.signup__main-password-container {

}

.button__password {
    background-color: white;
    cursor: pointer;
    margin-left: 5px;
    width: 25px;
    height: 25px;
}

.name__input {

}

.email__input {

}

.password__input {

}

.occupation__input {

}

.state__input {

}

.signup__main-button {

}